REDIS_HOST=redis
REDIS_PORT=6379

ENABLE_SWAGGER=true
SWAGGER_TARGET=http://localhost:8080

PORT=8080
TOKEN_MAX_AGE=600

RATE_WINDOW_MS=30000
RATE_LIMIT=50
RATE_LEGACY_HEADER=false

MAX_HOLDS_PER_USER=5
HOLD_DURATION=60

NODE_ENV=production